:root {
    --clr-desaturated-dark-cyan: hsl(180, 29%, 50%);
    --clr-dark-grayish-cyan: hsl(180, 8%, 52%);
    --clr-very-dark-grayish-cyan: hsl(180, 14%, 20%);
    --bg-main: hsl(180, 52%, 96%);
    --bg-filter: hsl(180, 31%, 95%);
    --bg-card: hsl(0, 0%, 100%);

    --fw-medium: 500;
    --fw-bold: 700;

    --rounded: 0.375rem;
    --rounded-full: 9999px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}
body {
    font-family: "League Spartan", "Segoe UI", Tahoma, Geneva, Verdana,
        sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    font-weight: var(--fw-medium);
    display: flex;
    justify-content: center;
    background-color: var(--bg-main);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
